//default variables

$grid-max-container-width: 960px !default;

$grid-columns: 12 !default;

$grid-breakpoints: (
  xs: 0,
  sm: 768px,
  md: 1024px,
  lg: 1440px
) !default;

$grid-gap: (
  xs: 16px,
  sm: 24px,
  md: 24px,
  lg: 40px
) !default;

$grid-offset: (
  xs: 16px,
  sm: 30px,
  md: 40px,
  lg: 0
) !default;


//breakpoints

@mixin grid-media($width, $type: min) {
  @if map_has_key($grid-breakpoints, $width) {
    $width: map_get($grid-breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}


//container

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: $grid-max-container-width;
  margin: 0 auto;

  @each $size, $value in $grid-offset {
    @include grid-media($size) {
      padding-left: $value;
      padding-right: $value;
    }
  }
}


//grid for browser without support for grid-gap

.row {
  display: flex;
  flex-wrap: wrap;

  @each $size, $value in $grid-gap {
    @include grid-media($size) {
      margin: 0 calc(-#{$value}) calc(-#{$value}) 0;
    }
  }
}

[class^='col'] {
  box-sizing: border-box;

  @each $size, $value in $grid-gap {
    @include grid-media($size) {
      padding: 0 calc(#{$value}) calc(#{$value}) 0;
    }
  }
}

.col {
  width: 100%;
}

@each $size, $value in $grid-breakpoints {
  @include grid-media(#{$size}) {
    @for $i from 1 through $grid-columns {
      @for $j from 1 through $grid-columns {
        @if ($i <= $j) {
          .col-#{$size}--#{$i}-#{$j} {
            width: calc((100% / #{$grid-columns}) * (#{$j} - (#{$i} - 1)));
            margin-left: calc(100% / #{$grid-columns} * (#{$i} - 1));
          }
          .col--#{$i}-#{$j} {
            @extend .col-xs--#{$i}-#{$j};
          }
        }
      }
      .col-#{$size}--#{$i} {
        width: calc((100% / #{$grid-columns}) * #{$i});
        margin-left: 0;
      }
      .col--#{$i} {
        @extend .col-xs--#{$i};
      }
    }
  }
}


//grid for browsers with support for grid gap

@supports (grid-gap: 0) {
  .row {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: repeat($grid-columns, 1fr);

    @each $size, $value in $grid-gap {
      @include grid-media($size) {
        grid-gap: $value;
      }
    }
  }

  [class^='col'] {
    padding: 0;
  }

  .col {
    grid-column: span $grid-columns;
    padding: 0;
  }

  @each $size, $value in $grid-breakpoints {
    @include grid-media(#{$size}) {
      @for $i from 1 through $grid-columns {
        @for $j from 1 through $grid-columns {
          @if ($i <= $j) {
            .col-#{$size}--#{$i}-#{$j} {
              grid-column: #{$i} / #{$j + 1};
              width: unset;
              margin-left: 0;
            }
            .col--#{$i}-#{$j} {
              @extend .col-xs--#{$i}-#{$j};
            }
          }
        }
        .col-#{$size}--#{$i} {
          grid-column: span $i;
          width: unset;
        }
        .col--#{$i} {
          @extend .col-xs--#{$i};
        }
      }
    }
  }
}
